@charset "UTF-8";

/* 
    Paleta de cores:
    verde: #49a09d
    lilas: #5f2c82

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82 ;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section{
    width: 250px;
    height: 515px;
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

section#login > div#img {
    display: block;
    background-image: url(../imagem/fotologin.jpg);
    background-size: cover;
    height: 200px;
}

h1{
    padding: 15px 0px;
    text-align: center;
    font-size: 2rem;
}

p{
    font-size: 0.8rem;
    padding: 8px;
}
div.campo{
    background-color: #5f2c82;
    height: 40px;
    width: 225px;
    margin: 5px auto;
    border-radius: 8px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 30,
}
/*mudar o simbolo de 24 x 24 para 30 x 30 



